.top-btn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #a6a6a6;
  background-image: url('cd-top-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  opacity: 0.4;
}
.top-btn:hover {
  opacity: 0.8;
}
